<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>
      XMeme
    </title>
  </head>
  <body>
    <div id="root">
      <div>
        <section class="section has-color-violet">
          <div class="container">
            <form action="/create-memes" method="POST">
              <label class="label has-text-weight-bold has-text-centered" style='background-color:rgb(81, 9, 109);color:white;font-size: 20;' >Meme Stream</label>
              <div class="field">
                <label class="label">Meme Owner</label>
              <div class="control">
                <input class="input" type="text" name="name" placeholder="Enter your full name" value></input>
              </div>
              </div>
              
              <div class="field">
                <label class="label">Caption</label>
                <div class="control">
                  <input class="input" type="text" name="caption" placeholder="Be creative with the caption"  value></input>
                </div>
              </div>
              <label class="label">Meme URL</label>
              <div class="field-has-addons" style='display: flex;'>
                <div class="control is-expanded" style='display: contents;'>
                  <input class="input is expanded" type="text" name="url" placeholder="Enter URL of your meme here"  value></input>
                </div>
              <div class="control">
                <button class="button is-link" type="submit" style='background-color:rgb(139, 16, 187)'>Submit Meme</button>
              </div> 
              </div>
              <p class="help is-danger" style="visibility: hidden;">This URL is invalid</p>
            </form>
          </div>
        </section>

        <section class="section">
            <% memes.forEach(function(i) { %>
              <div class="container-new">
                <div class="columns is-multiline">
                  <div class="column is-one-third">
                    <div class="card">
                      <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="<%=i.url%>">
                        </figure>
                      </div>
                      <div class="card-content">
                        <div class="media">
                          <div class="media-content">
                            <p class="title is-4"><%=i.name%></p>
                            <p class="subtitle is-6"><%=i.caption%></p>
                            <a class="button is-link" style='background-color:rgb(139, 16, 187)' type="edit" href="/edit/<%=i._id%>"><button class="button is-link" type="edit" href="/edit/<%=i._id%>" style='background-color:rgb(139, 16, 187)'>Edit</button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% })%>
        </section> 
      </div>
    </div>
  </body>
</html>